<div id="modalform" class="modal">
  <div class="modal-content">
    <h1>Add New IgnoreList Value</h1>
    <h2>Use * for Wildcards in any entry</h2>
    <h3>Vulnerability Details to Ignore</h3>
    <form action="/api/addignorelist" method="post" class="ignorelist-form" id="ignorelist-form">
    <table>
      <tr>
      <td><label for="vuln_id">Vulnerability ID:</label></td>
      <td>
        <select name="vuln_id">
        <option id="modal-vuln_id-option"></option>
        </select>
      </td></tr>
      <tr>
      <td><label for="artifact_name">Artifact Name:</label></td>
      <td>
        <select name="artifact_name">
          <option id="modal-artifact_name-option">{{ artifact_name }}</option>
          <option>*</option>
        </select>
      </td></tr>
      <tr>
      <td><label for="artifact_version">Artifact Version:</label></td>
      <td>
        <select name="artifact_version">
        <option id="modal-artifact_version-option">{{ artifact_version }}</option>
        <option>*</option>
        </select>
      </td></tr>
    </table>
    <h3>Container Details (Level to ignore)</h3>
    <table>
      <tr>
      <td><label for="namespace">Namespace:</label></td>
      <td>
        <select name="namespace">
          <option id="modal-namespace-option">{{ namespace }}</option>
          <option>*</option>
        </select>
      </td></tr>
      <tr>
      <td><label for="container">Container:</label></td>
      <td>
        <select name="container">
          <option id="modal-container-option">{{ contaner }}</option>
          <option>*</option>
        </select>
      </td></tr>
      <tr>
      <td><label for="image">Image:</label></td>
      <td>
        <select name="image" id="modal-image">
          <option id="modal-image-option">{{ image }}</option>
          <option>*</option>
        </select>
      </td></tr>
      <tr>
      <td><label for="image_id">Image ID:</label></td>
      <td>
        <select name="image_id" id="modal-image-id">
          <option id="modal-image_id-option">{{ image_id }}</option>
          <option>*</option>
        </select>
      </td></tr>
    </table>
    <div style="text-align:center">
    <p><a href='/api/addignorelist' class="btn" id="addform-submit" rel="ajax:modal">Add to Ignore List</a></p>
    </div>
  </form>
  <p id="addform-message"></p>
  </div>
</div>

<div id="messageform" class=modal>
  <div class="modal-content">
    <h2 id="messageform-message"></h2>
  </div>
</div>
