<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.dataTables.yadcf.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vulnscan_global.css') }}">
<style>
  span.no-show{
    display: none;
  }
span.ellipsis:after{
    content: "...";
  }

  table.display {
    margin: 0;
  }

</style>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='jquery.dataTables.yadcf.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='datatable-ellipsis.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='addignorelist.js')}}" class="init"></script>
<script type="text/javascript" language="javascript" class="init">



xmlhttp = new XMLHttpRequest();
xmlhttp.onload = function() {
  mytxt=this.responseText;
  const cobj = JSON.parse(this.responseText);
  document.getElementById("cid").innerHTML = cobj.id;
  document.getElementById("cname").innerHTML = cobj.container;
  document.getElementById("namespace").innerHTML = cobj.namespace;
  document.getElementById("image").innerHTML = ellipsisTooltip(cobj.image,35);
  document.getElementById("image_id_digest").innerHTML = ellipsisTooltip(cobj.image_id_digest,35);
  document.getElementById("pod").innerHTML = cobj.pod;
  document.getElementById("container_running").innerHTML = cobj.container_running;
  document.getElementById("last_container_scan_date").innerHTML = cobj.last_container_scan_date;
  document.getElementById("sbom_generated").innerHTML = cobj.sbom_generated;
  document.getElementById("sbom_gen_date").innerHTML = cobj.sbom_gen_date;
  document.getElementById("vulnscan_generated").innerHTML = cobj.vulnscan_generated;
  document.getElementById("vulnscan_gen_date").innerHTML = cobj.vulnscan_gen_date;
}
xmlhttp.open("GET","/api/container?id={{ container_id }}")
xmlhttp.send();

$(document).ready(function() {
    sTable = $('#sdata').DataTable( {
        "ajax": { "url" : "/api/container_sboms?id={{ container_id }}",
                  "dataSrc" : "data"},
        "columns": [
            { "data": "artifact_id" },
            { "data": "artifact_name" },
            { "data": "artifact_version" },
            { "data": "artifact_type" },
            { "data": "artifact_language" },
            { "data": "artifact_purl" },
        ],
        "pageLength": 10,
        "scrollX": true,


    } );

    yadcf.init(sTable, [
      {column_number: 1, filter_type: 'select'},
      {column_number: 3, filter_type: 'select'},
      {column_number: 4, filter_type: 'select'},
    ],
    {
      cumulative_filtering: true
    });

    vTable = $('#vdata').DataTable( {
        "ajax": { "url" : "/api/container_vulnerabilities?id={{ container_id }}",
                  "dataSrc" : "data"},
        "columns": [
            { "data": "artifact_name" },
            { "data": "artifact_version" },
            { "data": "vuln_id" },
            { "data": "vuln_severity" },
            { "data": "vuln_datasource" },
            { "data": "vuln_fix_state" },
            { "data": "vuln_fix_versions" },
            { "data": "vuln_last_modified_date"}
        ],
        "pageLength": 10,
        "scrollX": true,
        "columnDefs": [
          { "targets": 2,
            "render": function ( data, type, row, meta ) {
              if (data != null) {
              return '<a href="'+row.vuln_datasource+'" target="popup" onclick="window.open(\''+row.vuln_datasource+'\',\'popup\',\'width=800,height=800\'); return false;">'+data+'</a>';}
              else { return '';} }
            },
          { "targets": 7,
              "render": function (data, type, row, meta ) {
                var rowmoddate=new Date(row.vuln_last_modified_date)
                mylocale=Intl.DateTimeFormat().resolvedOptions().locale
                dt_options={year: 'numeric', month: 'numeric', day: 'numeric'}
                tm_options={hour: 'numeric', minute: 'numeric'}
                retval=Intl.DateTimeFormat(mylocale,dt_options).format(rowmoddate)
                retval=retval+" "+Intl.DateTimeFormat(mylocale,tm_options).format(rowmoddate)
                return retval
              }
            },
          { "visible": false, "targets": [4]},
        ]
    } );

    yadcf.init(vTable, [
      {column_number: 0, filter_type: 'select'},
      {column_number: 2, filter_type: 'select'},
      {column_number: 3, filter_type: 'select'},
      {column_number: 4, filter_type: 'select'},
    ],
    {
      cumulative_filtering: true
    });

    $(function(){
        $('#vdata tbody').contextMenu({
            selector: 'tr',
            callback: function(key, options) {
                var row = vTable.row(options.$trigger)
                vuln_ignore_prompt(key,row.data())
            },
            build: function(trig,e) {
              var trigrow = vTable.row(trig).data();
              var vid = trigrow.vuln_id;
              return {
                callback: function(key,options) {
                  var row = vTable.row(options.$trigger);
                  var trigrow = row.data()
                  trigrow.namespace = $('#namespace').text();
                  trigrow.container = $('#cname').text();
                  trigrow.image = $('#image').text();
                  trigrow.image_id_digest = $('#image_id_digest').text();
                  vuln_ignore_prompt(key,trigrow);
                },
                items: {
                  "ignore": {name: "Ignore " + vid, icon: "add"},
                  "cancel": {name: "Cancel", icon: function($element, key, item) {return 'context-menu-icon context-menu-icon-quit';}}
                }
              }
            },
        });
    });

} );


</script>


<title>Container Detail</title>
</head>
<body>
  <div class="navbar">
    <a href="/containers">Containers</a>
    <a href="/vulnerabilities">Vulnerabilities</a>
    <a href="/sboms">Software BOMs</a>
    <a href="/ignorelist">Ignore List</a>
  </div>
  <table id="cdata1" class="display">
    <tbody>
      <tr>
        <td><stromg>ID</strong></td>
        <td id=cid></td>
        <td><strong>Namespace</strong></td>
        <td id=namespace></td>
        <td><strong>Container</strong></td>
        <td id=cname></td>
      </tr>
      <tr>
        <td><strong>Image</strong></td>
        <td id=image></td>
        <td><strong>Image ID</strong></td>
        <td id=image_id_digest></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Pod</strong></td>
        <td id=pod></td>
        <td><strong>Running</strong></td>
        <td id=container_running></td>
        <td><strong>Cluster Date</strong></td>
        <td id=last_container_scan_date></td>
      </tr>
      <tr>
        <td><strong>SBOM Exists</strong></td>
        <td id=sbom_generated></td>
        <td><strong>SBOM Date</strong></td>
        <td id=sbom_gen_date></td>
        <td><strong>Full SBOM</strong></td>
        <td><a href="/sbom?id={{ container_id }}">Link</a></td>
      </tr>
      <tr>
        <td><strong>Vulnerability Exists</strong></td>
        <td id=vulnscan_generated></td>
        <td><strong>Vulnerability Date</strong></td>
        <td id=vulnscan_gen_date></td>
        <td><strong>All Vuln. Data</strong></td>
        <td><a href="/vulnerability?id={{ container_id }}">Link</a></td>
      </tr>
  <tbody>
</table>
<table id="sdata" class="display">
  <thead>
    <tr>
      <th>Artifact ID</th>
      <th>Artifact</th>
      <th>Artifact Version</th>
      <th>Type</th>
      <th>Language</th>
      <th>Purl</th>
    </tr>
  </thead>
</table>

<table id="vdata" class="display">
  <thead>
    <tr>
      <th>Artifact</th>
      <th>Artifact Version</th>
      <th>Vulnerability</th>
      <th>Severity</th>
      <th>Datasource</th>
      <th>Fixed</th>
      <th>Fix Versions</th>
      <th>Last Found</th>
    </tr>
  </thead>
</table>


</body>
</html>
