<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vulnscan_global.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.dataTables.yadcf.css') }}">

<style>

#yadcf-filter--data-5 {
  width: 225px;
}

#yadcf-filter--data-6 {
  width: 225px;
}

table.display {
  margin: 0;
}

</style>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" charset-"utf8" src=" {{ url_for('static', filename='jquery.dataTables.yadcf.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='datatable-ellipsis.js') }}"></script>

<script type="text/javascript" language="javascript" class="init">

var gdellist=[];


$(document).ready(function() {
    iTable = $('#data').DataTable( {
        "ajax": { "url" : "/api/ignorelist",
                  "dataSrc" : "data"},
        "select": true,
        dom: 'Blfrtip',
        "buttons": [
          {
            extend: "selected",
            text: "Delete",
            action: function(e,dt,node,config) {
                var delrows = dt.rows( {selected: true }).data()
                var dellist=[];
                for (var j=0; j < delrows.length; j++) {
                  dellist.push(delrows[j].ignore_id);
                }
                gdellist=dellist;
                $('#question-text')[0].innerHTML = 'Do you want to delete '+ delrows.length + ' selected item(s) from the ignore list?';
                $('#questionform').modal('show');
            }
          }

        ],
        "columns": [
            { "data": "ignore_id" },
            { "data": "vuln_id" },
            { "data": "artifact_name"},
            { "data": "artifact_version"},
            { "data": "namespace" },
            { "data": "container" },
            { "data": "image"},
            { "data": "image_id_digest" },
        ],
        "pageLength": 15,
        "scrollX": true,

        "columnDefs": [
          { "visible": false, "targets": 0},
          { "render": $.fn.dataTable.render.ellipsis(35), "targets": 6},
          { "width": "225px", "targets": 6},
          { "render": $.fn.dataTable.render.ellipsis(35), "targets": 7},
          { "width": "225px", "targets": 7},

        ],
    } );


    yadcf.init(iTable, [
      {column_number: 1, filter_type: 'select'},
      {column_number: 2, filter_type: 'select'},
      {column_number: 3, filter_type: 'select'},
      {column_number: 4, filter_type: 'select'},
      {column_number: 5, filter_type: 'select'},

    ],
    {
      cumulative_filtering: true
    });

    $(document).on($.modal.OPEN, "#responseform", function (e) {
        setTimeout(() => {
          $.modal.close();
        },1500);
    });
    $(document).on($.modal.CLOSE,"#responseform", function (e) {
          window.location.replace(window.location.href)
    });

    $('#question-ok').on('click', function() {
      $('#messageform-message')[0].innerHTML = 'Processing Delete Request/Refreshing View, Please Wait'
      $('#messageform').modal('show');
      $.ajax({
        url: "/api/delignorelist",
        data: JSON.stringify(gdellist) ,
        contentType: "application/json; charset=utf-8",
        success: function(newHTML, textStatus, jqXHR) {
          $(newHTML).appendTo('body');
          $('#responseform').modal('show');
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("Error processing delete request");
        },
        method: "POST"
      });
    }
    )

    $('#question-cancel').on('click',function() {
      $.modal.close();
    })

} );
</script>
<title>Ignore List</title>
</head>
<body>
  <div id="questionform" class="modal">
    <div class="modal-content">
      <h1>Delete items from Ignore List</h1>
      <br>
      <p id="question-text">Delete 1 item from Ignore List</p>
      <br>
      <div style="text-align:center">
        <button id="question-ok">OK</button>
        <div class="divider"></div>
        <button id="question-cancel">Cancel</button>
      </div>
    </div>
  </div>

  <div id="messageform" class=modal>
    <div class="modal-content">
      <h2 id="messageform-message"></h2>
    </div>
  </div>

  <div class="navbar">
    <a href="/containers">Containers</a>
    <a href="/vulnerabilities">Vulnerabilities</a>
    <a href="/sboms">Software BOMs</a>
    <a class="current" href="/ignorelist">Ignore List</a>
    <a href="/vulns_resolved">Resolved Vulnerabilities</a>
    <a href="/settings">Settings</a>
  </div>

  <table id="data" class="display">
    <thead>
        <tr>
            <th>Ignore ID</th>
            <th>Vulnerability</th>
            <th>Artifact</th>
            <th>Artifact Version</th>
            <th>Namespace</th>
            <th>Container</th>
            <th>Image</th>
            <th>Image ID</th>
        </tr>
    </thead>

</table>
</body>
</html>
