<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.dataTables.yadcf.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='menu.css') }}">
<style>
  span.no-show{
    display: none;
  }
span.ellipsis:after{
    content: "...";
  }

#yadcf-filter--data-5 {
  width: 225px;
}

#yadcf-filter--data-6 {
  width: 225px;
}

table.display {
  margin: 0;
}

</style>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset-"utf8" src=" {{ url_for('static', filename='jquery.dataTables.yadcf.js') }}"></script>

<script>

  jQuery.fn.dataTable.render.ellipsis = function ( cutoff ) {
    var esc = function ( t ) {
        return t
            .replace( /&/g, '&amp;' )
            .replace( /</g, '&lt;' )
            .replace( />/g, '&gt;' )
            .replace( /"/g, '&quot;' );
    };
  	return function ( d, type, row ) {
  		// Order, search and type get the original data

  		if ( type !== 'display' ) {
  			return d;
  		}

  		if ( typeof d !== 'number' && typeof d !== 'string' ) {
  			return d;
  		}

  		d = d.toString(); // cast numbers

  		if ( d.length <= cutoff ) {
  			return d;
  		}

      return '<span class="ellipsis" title="' + esc(d) + '">'+d.substr(0,cutoff)+'</span><span class=\"no-show\">' + d.substr(cutoff)+'</span>';

  	};
  };

</script>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
    iTable = $('#data').DataTable( {
        "ajax": { "url" : "/api/ignorelist",
                  "dataSrc" : "data"},
        "columns": [
            { "data": "vuln_id" },
            { "data": "artifact_name"},
            { "data": "artifact_version"},
            { "data": "namespace" },
            { "data": "container" },
            { "data": "image"},
            { "data": "image_id" },
        ],
        "pageLength": 15,
        "scrollX": true,

        "columnDefs": [
          { "render": $.fn.dataTable.render.ellipsis(35), "targets": 5},
          { "width": "225px", "targets": 5},
          { "render": $.fn.dataTable.render.ellipsis(35), "targets": 6},
          { "width": "225px", "targets": 6},

        ],
    } );

    yadcf.init(iTable, [
      {column_number: 0, filter_type: 'select'},
      {column_number: 1, filter_type: 'select'},
      {column_number: 2, filter_type: 'select'},
      {column_number: 3, filter_type: 'select'},
      {column_number: 4, filter_type: 'select'},

    ],
    {
      cumulative_filtering: true
    });

} );
</script>
<title>Containers</title>
</head>
<body>
  <div class="navbar">
    <a href="/containers">Containers</a>
    <a href="/vulnerabilities">Vulnerabilities</a>
    <a href="/sboms">Software BOMs</a>
    <a class="current" href="/ignorelist">Ignore List</a>
  </div>

  <table id="data" class="display">
    <thead>
        <tr>
            <th>Vulnerability</th>
            <th>Artifact</th>
            <th>Artifact Version</th>
            <th>Namespace</th>
            <th>Container</th>
            <th>Image</th>
            <th>Image ID</th>
        </tr>
    </thead>

</table>
</body>
</html>
