<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.dataTables.yadcf.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vulnscan_global.css') }}">


<style>

  #yadcf-filter--data-1 {
    width: 100px;
  }
  #yadcf-filter--data-2 {
    width: 100px;
  }
  #yadcf-filter--data-3 {
    width: 200px;
  }
  #yadcf-filter--data-4 {
    width: 175px;
  }
  #yadcf-filter--data-5 {
    width: 150px;
  }
  #yadcf-filter--data-6 {
    width: 125px;
  }
  #yadcf-filter--data-7 {
    width: 125px;
  }
  #yadcf-filter--data-8 {
    width: 100px;
  }
  #yadcf-filter--data-11 {
    width: 125px;
  }

</style>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='jquery.dataTables.yadcf.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='datatable-ellipsis.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='addignorelist.js')}}" class="init"></script>

<script type="text/javascript" language="javascript" class="init">

var compdate=new Date()

var toolbarhtml=`
  <label for="time-range-value">Vulnerabilities changed since:</label>
  <select class="time-range-value" name="time-range-value" id="time-range-value">
    <option value="ALL">ALL</option>
  </select>
  <select class="time-range-units" name="time-range-units" id="time-range-units">
    <option value="days">days</option>
    <option value="hours">hours</option>
  </select>
`;

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        if ( $('#time-range-value').val() == "ALL")
         {
           return true
         }
        var rowmoddate = new Date(data[12])
        if (rowmoddate >= compdate) {
          return true
        }
        else {
          return false
        }
    }
);

$(document).ready(function() {

    vulnparams={ mod_date_isostr : "{{MOD_DATE_ISOSTR}}" }

    vTable = $('#data').DataTable( {
        "ajax": { "url" : "/api/vulnerabilities",
                  "data": vulnparams,
                  "dataSrc" : "data"},
        dom: 'Bl<"toolbar">frtip',
        "buttons": [
            'excel'
        ],
        "columns": [
            { "data": "container_id" },
            { "data": "namespace" },
            { "data": "container" },
            { "data": "image" },
            { "data": "image_id_digest" },
            { "data": "artifact_name" },
            { "data": "artifact_version" },
            { "data": "vuln_id" },
            { "data": "vuln_severity" },
            { "data": "vuln_datasource" },
            { "data": "vuln_fix_state" },
            { "data": "vuln_fix_versions" },
            { "data": "vuln_last_modified_date"}
        ],
        "pageLength": 15,
        "scrollX": true,

        "columnDefs": [
          { "targets": 7,
            "render": function ( data, type, row, meta ) {
              if (data != null) {
              return '<a href="'+row.vuln_datasource+'" target="popup" onclick="window.open(\''+row.vuln_datasource+'\',\'popup\',\'width=800,height=800\'); return false;">'+data+'</a>';}
              else { return '';} }
            },
          { visible: false, targets: [0,4,9,12]},
          { "render": $.fn.dataTable.render.ellipsis(15), "targets": 1},
          { "width": "100px", "targets": 1},
          { "render": $.fn.dataTable.render.ellipsis(15,true,"'/container?id='+row.container_id"), "targets": 2},
          { "width": "100px", "targets": 2},
          { "render": $.fn.dataTable.render.ellipsis(35), "targets": 3},
          { "width": "200px", "targets": 3},
          { "render": $.fn.dataTable.render.ellipsis(25), "targets": 5},
          { "width": "150px", "targets": 5},
          { "render": $.fn.dataTable.render.ellipsis(20), "targets": 6},
          { "width": "125px", "targets": 6},
          { "render": $.fn.dataTable.render.ellipsis(25), "targets": 7},
          { "width": "125px", "targets": 7},
          { "width": "100px", "targets": 8},
          { "render": $.fn.dataTable.render.ellipsis(20), "targets": 11},
          { "width": "125px", "targets": 11},

        ],

    } );


        $(function(){
            $('#data tbody').contextMenu({
                selector: 'tr',
                callback: function(key, options) {
                    var row = vTable.row(options.$trigger)
                    vuln_ignore_prompt(key,row.data())
                },
                build: function(trig,e) {
                  var trigrow = vTable.row(trig).data();
                  var vid = trigrow.vuln_id;
                  return {
                    callback: function(key,options) {
                      var row = vTable.row(options.$trigger);
                      vuln_ignore_prompt(key,row.data())
                    },
                    items: {
                      "ignore": {name: "Ignore " + vid, icon: "add"},
                      "cancel": {name: "Cancel", icon: function($element, key, item) {return 'context-menu-icon context-menu-icon-quit';}}
                    }
                  }
                },
            });
        });

    yadcf.init(vTable, [
      {column_number: 1, filter_type: 'select'},
      {column_number: 2, filter_type: 'select'},
      {column_number: 5, filter_type: 'select'},
      {column_number: 7, filter_type: 'select'},
      {column_number: 8, filter_type: 'select'},
    ],
    {
      cumulative_filtering: true
    });

    $("div.toolbar").html(toolbarhtml);

    $(function(){
        var $select = $(".time-range-value");
        for (i=1;i<=24;i++){
            $select.append($('<option></option>').val(i).html(i))
        }
    });

    $('#time-range-value, #time-range-units').bind("change keyup", function() {
        var rangeval = parseInt( $('#time-range-value').val() );
        var rangeunits = $('#time-range-units').val()
        compdate=new Date()
        if (rangeunits == "days") {
          compdate.setDate(compdate.getDate()-rangeval)
        }
        else {
          compdate_ms=compdate.getTime()
          compdate=new Date(compdate_ms-(rangeval*60*60*1000))
        }
        vTable.draw();
    } );


} );

</script>
<title>Vulnerabilities</title>
</head>
<body>

  <div class="navbar">
    <a href="/containers">Containers</a>
    <a class="current" href="/vulnerabilities">Vulnerabilities</a>
    <a href="/sboms">Software BOMs</a>
    <a href="/ignorelist">Ignore List</a>
  </div>

  <div class=container>
  <table id="data" class="display">
    <thead>
        <tr>
            <th>Container ID</th>
            <th>Namespace</th>
            <th>Container</th>
            <th>Image</th>
            <th>Image ID</th>
            <th>Artifact</th>
            <th>Installed Version</th>
            <th>Vulnerablity</th>
            <th>Severity</th>
            <th>Datasource</th>
            <th>Fixed</th>
            <th>Fixed Versions</th>
        </tr>
    </thead>
  </table>
  </div>

</body>
</html>
